body {
  background-image: url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwij-IOl84HhAhWm64MKHWZSBKYQjRx6BAgBEAU&url=https%3A%2F%2Fwww.escape.com.au%2Fholiday-deals%2Fclick-frenzy-mayhem-what-you-need-to-know%2Fnews-story%2F10bc4776c88cc00d7f2d9e2958584e8f&psig=AOvVaw3k9bFypTnB8h9Xz4toh5OS&ust=1552662110049505");
}

h1 {
  color: green;
}

.center {
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
}

#right {
  position: fixed;
  top: 0px;
  right: 0px;
  /* display: flex; */
  /* justify-content: flex-end; */
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

img {
  width: 500px;
}

a:link {
  color: blue;
}
 
a:visited {
  color: purple;
}