/* body {
  background-image: url("https://cdn.newsapi.com.au/image/v1/53cf3216af89accadaa89d355625a1ae?width=1024");
} */

h1 {
  color: green;
}

.center {
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
}

#right {
  position: fixed;
  top: 0px;
  right: 0px;
  /* display: flex; */
  /* justify-content: flex-end; */
}

.card {
  border: 1px solid #d3d3d3;
  border-radius: .25rem;
}

.bg-img {
  background-size: cover;
  min-height: 180px;
  background-position: center;
  background-color: #ccc;
}

.content {
  padding: 15px;
}



.grid-container {
  display: grid;
  grid-template-columns: 30vw 1fr 15vw;
  grid-template-columns: [col1-start] 30vw [col2-start] 1fr [col3-start] 15vw;
  grid-template-rows: 10vh 1fr 10vh;
  grid-template-rows: [row1-start] 10vh [row2-start] 1fr [row3-start] 10vh;
  grid-gap: 20px;
}

/* button {
  background-color: transparent;
  border: 1px solid #2196F3;
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: .25rem;
} */

/* img {
  width: 500px;
} */

a:link {
  color: blue;
}
 
a:visited {
  color: purple;
}

.flash-error-alert-box-radius {
  color: red
}

.flash-warning-alert-box-radius {
  color: red
}