<% @user.destinations.each do |destination| %>
      <div class='card'>
            <%= destination.name %>
            <br>
            <br>
            <%= destination.description %>
            <br>
            <br>
            Ranking: <%= destination.star_ranking %>
            <br>
            <br>
            <%= destination.image %>
            <br>
            <br>
          <% end %>
        </div>