<% @user.destinations.each do |destination| %>
      <div class='card'>
            <%= destination.name %>
            <br>
            <br>
            <%= destination.description %>
            <br>
            <br>
            <p>Ranking: <%= @destination.star_ranking %> </p>
            <br>
            <br>
            <img src="<%=destination.image%>" alt="Location">
            <br>
            <br>
          <% end %>
        </div>