
<p><% Destination.all.each do |destination|%>
        <div class='card'>
            <img src="#{destination.image}" alt="Location" style="width:100%">
            <div class="container">
            <h4><b><%= destination.name %></b></h4> 
            <p><%= destination.description %></p> 
            <p>Ranking<%= destination.star_ranking %></p> 
            <% end %>
            </div>
        </div>
         
          
        