
<p><% Destination.all.each do |destination|%>
        <span class='card'>
            <img src="<%=destination.image%>" alt="Location">
            <span class=container>
            <h4><b><%= destination.name %></b></h4>  
            <p>Ranking: <%= destination.star_ranking %></p> 
            <form action="/destinations/<%=destination.id%>" method="get">
            <input class='button' type="submit" name="submit" value="Learn More">
            </form>
            <hr>
            </span>
            <% end %>
        </span>
      
         
          
        