<h3>Add New Destination!</h3>
<form action="/destinations/destinations" method="post">
  <label for='name'>Name</label>
  <input type="text" name="name" id="name">
  <label for='description'>Description</label>
  <input type="textarea" name="description" id="description">
  <label for='star_ranking'>Ranking</label>
  <select name='star_ranking' id='star_ranking'>
    <option value="0">Select Ranking</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  <label for='image'>Image Link</label>
  <input type="text" name="image" id="image">
  <input type="submit" name="submit" value="Submit">
</form>

