<!doctype html>
<html lang='en'>
  <head>
    <title>TRAVELIST</title>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <meta name="description" content="Pinterest for Travelers">
    <meta name="keywords" content="Travel, Destinations, Trips">
    <meta name="author" content="Stephen Wright">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class="center">
     <h1>Travelist</h1>
    
     <% if logged_in? %>

      <h3>Welcome, <%=current_user.username %>!</h3>
      <div id="right">
        <a href="/login">HomePage</a>
      </div>
          <nav>  
            <a href="/users/<%=current_user.id%>">View My Destinations</a>
            <a href="/destinations/new">Create New Destination</a>
            <a href="/logout"> Log Out </a>
          </nav>

      <% else %>
      <a href="/login">Log In</a>
       <br>
      <a href="/signup">Sign Up</a>
      <% end %>
    <div>  
      <hr>   

          <%= yield %>


          <hr>
       

      
  </body>
</html>