<!doctype html>
<html>
  <head>
    <title>TRAVELIST</title>
    <link rel="stylesheet" href="">
  </head>
  <body>

    <div class="container">
      <h1>Travelist</h1>
    </div>
        <%= yield %>
  </body>
</html>